In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
import scipy.stats
import os

In [2]:
os.getenv("PUIDATA")

'/Users/apple/Desktop/PUI2017/PUIdata'

In [3]:
datestring1 ='201612'
datestring2 ='201707'

df1 = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring1 + '-citibike-tripdata.csv')
df2 = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring2 + '-citibike-tripdata.csv')

In [4]:
print(df1.shape, df2.shape)
## how rapid increasing!!

(812192, 15) (1735599, 15)

In [5]:
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1

In [6]:
df1.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [7]:
df2.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [8]:
## the columnss' name discord in the first capital letter, make them same
df2.columns = list(df1.columns)
df2.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [9]:
df2.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [10]:
df1.describe()

,Trip Duration,Start Station ID,Start Station Latitude,Start Station Longitude,End Station ID,End Station Latitude,End Station Longitude,Bike ID,Birth Year,Gender
count,8.121920e+05,812192.000000,812192.000000,812192.000000,812192.000000,812192.000000,812192.000000,812192.000000,772488.000000,812192.000000
mean,7.759573e+02,1230.658706,40.737667,-73.984587,1210.592212,40.737181,-73.984581,21949.073166,1977.099969,1.161004
std,7.542199e+03,1281.955016,0.082664,0.143095,1272.932141,0.122438,0.217795,3982.457558,11.999981,0.489375
min,6.100000e+01,72.000000,0.000000,-74.031372,72.000000,0.000000,-74.049968,14529.000000,1885.000000,0.000000
25%,3.340000e+02,358.000000,40.721101,-73.995101,356.000000,40.720874,-73.995960,18352.000000,1969.000000,1.000000
50%,5.330000e+02,482.000000,40.739445,-73.987216,480.000000,40.739355,-73.987586,22708.000000,1979.000000,1.000000
75%,8.760000e+02,3096.000000,40.756014,-73.976485,3090.000000,40.755103,-73.976806,25655.000000,1987.000000,1.000000
max,3.473103e+06,3440.000000,40.804213,0.000000,3440.000000,40.804213,0.000000,27342.000000,2000.000000,2.000000

In [11]:
df2.describe()

,Trip Duration,Start Station ID,Start Station Latitude,Start Station Longitude,End Station ID,End Station Latitude,End Station Longitude,Bike ID,Birth Year,Gender
count,1.735599e+06,1.735599e+06,1.735599e+06,1.735599e+06,1.735599e+06,1.735599e+06,1.735599e+06,1.735599e+06,1.507003e+06,1.735599e+06
mean,1.060143e+03,1.371501e+03,4.073562e+01,-7.398510e+01,1.370967e+03,4.073536e+01,-7.398519e+01,2.317056e+04,1.979592e+03,1.095545e+00
std,9.622457e+03,1.348571e+03,2.859067e-02,1.744022e-02,1.348952e+03,2.855812e-02,1.747490e-02,4.988904e+03,1.156374e+01,5.978624e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.401713e+01,7.200000e+01,4.065540e+01,-7.406692e+01,1.452900e+04,1.874000e+03,0.000000e+00
25%,3.950000e+02,3.590000e+02,4.071740e+01,-7.399725e+01,3.590000e+02,4.071723e+01,-7.399726e+01,1.840200e+04,1.972000e+03,1.000000e+00
50%,6.760000e+02,4.860000e+02,4.073625e+01,-7.398765e+01,4.850000e+02,4.073588e+01,-7.398766e+01,2.519100e+04,1.983000e+03,1.000000e+00
75%,1.183000e+03,3.142000e+03,4.075514e+01,-7.397575e+01,3.141000e+03,4.075510e+01,-7.397605e+01,2.773400e+04,1.989000e+03,1.000000e+00
max,2.477222e+06,3.478000e+03,4.088092e+01,-7.389660e+01,3.478000e+03,4.088092e+01,-7.389660e+01,3.033700e+04,2.001000e+03,2.000000e+00

# 1.  Question1:
###  Is there statistical difference in the age distribution of male and female riders?

In [12]:
## create two new columns to calculate the age of riders, male and female
df1['ageM'] = 2017 - df1['Birth Year'][df1['Gender'] == 1]
df1['ageF'] = 2017 - df1['Birth Year'][df1['Gender'] == 2]
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,ageM,ageF
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1,51.0,NaN
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1,60.0,NaN
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1,30.0,NaN
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1,33.0,NaN
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1,26.0,NaN

In [13]:
df1.describe()

,Trip Duration,Start Station ID,Start Station Latitude,Start Station Longitude,End Station ID,End Station Latitude,End Station Longitude,Bike ID,Birth Year,Gender,ageM,ageF
count,8.121920e+05,812192.000000,812192.000000,812192.000000,812192.000000,812192.000000,812192.000000,812192.000000,772488.000000,812192.000000,596605.00000,173164.000000
mean,7.759573e+02,1230.658706,40.737667,-73.984587,1210.592212,40.737181,-73.984581,21949.073166,1977.099969,1.161004,38.12375,37.107493
std,7.542199e+03,1281.955016,0.082664,0.143095,1272.932141,0.122438,0.217795,3982.457558,11.999981,0.489375,11.96343,11.980471
min,6.100000e+01,72.000000,0.000000,-74.031372,72.000000,0.000000,-74.049968,14529.000000,1885.000000,0.000000,15.00000,15.000000
25%,3.340000e+02,358.000000,40.721101,-73.995101,356.000000,40.720874,-73.995960,18352.000000,1969.000000,1.000000,28.00000,28.000000
50%,5.330000e+02,482.000000,40.739445,-73.987216,480.000000,40.739355,-73.987586,22708.000000,1979.000000,1.000000,36.00000,34.000000
75%,8.760000e+02,3096.000000,40.756014,-73.976485,3090.000000,40.755103,-73.976806,25655.000000,1987.000000,1.000000,47.00000,46.000000
max,3.473103e+06,3440.000000,40.804213,0.000000,3440.000000,40.804213,0.000000,27342.000000,2000.000000,2.000000,129.00000,122.000000

In [14]:
df2['ageM'] = 2015 - df2['Birth Year'][df2['Gender'] == 1]
df2['ageF'] = 2015 - df2['Birth Year'][df2['Gender'] == 2]

In [15]:
# extract the age data of male and female
df1_ageM = df1['ageM']
df1_ageF = df1['ageF']
df1_ageM.dropna(inplace = True)
df1_ageF.dropna(inplace = True)
print(len(df1_ageM), len(df1_ageF))

596605 173164

In [16]:
df2_ageM = df2['ageM']
df2_ageF = df2['ageF']
df2_ageM.dropna(inplace = True)
df2_ageF.dropna(inplace = True)
print(len(df2_ageM), len(df2_ageF))

1099377 401017

# 1.1 KS tests to compare 
## H0: the age distribution of male and female riders are from the same continuous distribution
![s](https://render.githubusercontent.com/render/math?math=%5Calpha%20%3D%200.05&mode=display)

In [17]:
scipy.stats.ks_2samp(df1_ageM, df1_ageF)

Ks_2sampResult(statistic=0.054806362117032659, pvalue=0.0)

In [18]:
scipy.stats.ks_2samp(df2_ageM, df2_ageF)

Ks_2sampResult(statistic=0.0814318746012207, pvalue=0.0)

#### the null hypothesis of ks test is that 2 independent samples are drawn from the same continuous distribution.
#### p < 0.05 means the null hypothesis is rejected and the samples are from different distribution
#### So here is the conclusion : the age distribution of male and female riders  are not from the same distribution, for both months

# 1.2 Pearson's test for correlation
## H0: the age distribution of male and female riders are uncorrelated
![s](https://render.githubusercontent.com/render/math?math=%5Calpha%20%3D%200.05&mode=display)

In [19]:
print(len(df1_ageM), len(df1_ageF))

596605 173164

In [20]:
# reduce the size of male sample to the female's size, making them the same size.
df1_ageM2 = np.random.choice(df1_ageM, len(df1_ageF), replace = False)
print(len(df1_ageM2), len(df1_ageF))

173164 173164

In [21]:
# sort the data before making correlation analysis
df1_ageM2l = sorted(df1_ageM2)
df1_ageFl = sorted(df1_ageF)

In [22]:
scipy.stats.pearsonr(df1_ageM2l, df1_ageFl)

(0.99806400001022755, 0.0)

In [23]:
df2_ageM2 = np.random.choice(df2_ageM, len(df2_ageF), replace = False)
df2_ageM2l = sorted(df2_ageM2)
df2_ageFl = sorted(df2_ageF)
scipy.stats.pearsonr(df2_ageM2l, df2_ageFl)

(0.997161525112924, 0.0)

####  the null hypothesis of Pearson's test is that two sets of data are uncorrelated
####  Since the p values are zero, we can reject the null hypothesis 
###  both sample's Pearson’s correlation coefficient > 0.99, meaning the two distribution is highly correlated.
#### So here is the conclusion :  the age distribution of male and female riders are highly correlated, for both months

# 1.3 Spearman's test for correlation
## H0: the age distribution of male and female riders are uncorrelated

In [24]:
scipy.stats.spearmanr(df1_ageM2l, df1_ageFl)

SpearmanrResult(correlation=0.99918739612852392, pvalue=0.0)

In [25]:
scipy.stats.spearmanr(df2_ageM2l, df2_ageFl)

SpearmanrResult(correlation=0.9988917744362279, pvalue=0.0)

####  the null hypothesis of Pearson's test is that two sets of data are uncorrelated
####  Since the p values are zero, we can reject the null hypothesis 
###  both sample's Spearman’s correlation coefficient > 0.99, meaning the two distribution is highly correlated.
#### So here is the conclusion :  the age distribution of male and female riders are highly correlated, for both months

# 1.4 Conclusion:
##   The results of KS test, Pearson's test, Spearman's test prove that the age distribution of male and female riders are highly correlatedare, but not from the same distribution.

# 2.  Question2:
###  Is there statistical difference in the distribution of trip duration of bikers that ride during the day vs night?

In [26]:
df1['date'] = pd.to_datetime(df1['Start Time'])
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,ageM,ageF,date
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1,51.0,NaN,2016-12-01 00:00:04
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1,60.0,NaN,2016-12-01 00:00:28
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1,30.0,NaN,2016-12-01 00:00:39
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1,33.0,NaN,2016-12-01 00:00:44
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1,26.0,NaN,2016-12-01 00:00:54

In [27]:
a = df1['date'][1000]
a

Timestamp('2016-12-01 06:23:06')

In [28]:
a.time().hour

6

In [29]:
fun = lambda x:x.time().hour

In [30]:
b = df1.loc[:,'date'].apply(fun)

In [31]:
df1['hour'] = b

In [32]:
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,ageM,ageF,date,hour
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1,51.0,NaN,2016-12-01 00:00:04,0
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1,60.0,NaN,2016-12-01 00:00:28,0
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1,30.0,NaN,2016-12-01 00:00:39,0
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1,33.0,NaN,2016-12-01 00:00:44,0
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1,26.0,NaN,2016-12-01 00:00:54,0

In [33]:
df1_hour = df1.loc[:,'date'].apply(lambda x:x.time().hour)

In [34]:
df1_daytrip = df1[(df1_hour > 6) & (df1_hour < 19)]['Trip Duration']
df1_nighttrip = df1[(df1_hour < 7) | (df1_hour > 18)]['Trip Duration']
print(len(df1_daytrip), len(df1_nighttrip))

644967 167225

In [35]:
df1_daytrip.describe()

count    6.449670e+05
mean     7.938657e+02
std      8.084457e+03
min      6.100000e+01
25%      3.420000e+02
50%      5.460000e+02
75%      8.970000e+02
max      3.473103e+06
Name: Trip Duration, dtype: float64

In [36]:
df1_nighttrip.describe()

count    1.672250e+05
mean     7.068867e+02
std      4.919043e+03
min      6.100000e+01
25%      3.070000e+02
50%      4.890000e+02
75%      7.960000e+02
max      1.207047e+06
Name: Trip Duration, dtype: float64

In [37]:
df2['date'] = pd.to_datetime(df2['Start Time'])
df2['hour'] = df2.loc[:,'date'].apply(lambda x:x.time().hour)
df2.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,ageM,ageF,date,hour
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1,29.0,NaN,2017-07-01 00:00:00,0
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1,34.0,NaN,2017-07-01 00:00:03,0
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2,NaN,31.0,2017-07-01 00:00:08,0
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1,30.0,NaN,2017-07-01 00:00:11,0
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2,NaN,33.0,2017-07-01 00:00:15,0

In [38]:
df2_hour = df2['hour']
df2_daytrip = df2[(df2_hour > 6) & (df2_hour < 19)]['Trip Duration']
df2_nighttrip = df2[(df2_hour < 7) | (df2_hour > 18)]['Trip Duration']
print(len(df2_daytrip), len(df2_nighttrip))

1297264 438335

# 2.1 KS tests to compare 
## H0: the distribution of trip duration of bikers that ride during the day vs night are from the same continuous distribution
![s](https://render.githubusercontent.com/render/math?math=%5Calpha%20%3D%200.05&mode=display)

In [39]:
scipy.stats.ks_2samp(df1_daytrip, df1_nighttrip)

Ks_2sampResult(statistic=0.063124088874828843, pvalue=0.0)

In [40]:
scipy.stats.ks_2samp(df2_daytrip, df2_nighttrip)

Ks_2sampResult(statistic=0.024524537768332633, pvalue=1.1738386068153644e-171)

#### the null hypothesis of ks test is that 2 independent samples are drawn from the same continuous distribution.
#### p < 0.05 means the null hypothesis is rejected and the samples are from different distribution
#### So here is the conclusion :  the distribution of trip duration of bikers that ride during the day vs night  are not from the same distribution,  for both months

# 2.2 Pearson's test for correlation
## H0: the distribution of trip duration of bikers that ride during the day vs night riders are uncorrelated
![s](https://render.githubusercontent.com/render/math?math=%5Calpha%20%3D%200.05&mode=display)

In [41]:
# reduce the size of male sample to the female's size, making them the same size.
df1_daytrip2 = np.random.choice(df1_daytrip, len(df1_nighttrip), replace = False)
print(len(df1_daytrip2), len(df1_nighttrip))

167225 167225

In [42]:
# sort the data before making correlation analysis
df1_daytrip2l = sorted(df1_daytrip2)
df1_nighttripl = sorted(df1_nighttrip)

In [43]:
scipy.stats.pearsonr(df1_daytrip2l, df1_nighttripl)

(0.94110012365293505, 0.0)

In [44]:
df2_daytrip2 = np.random.choice(df2_daytrip, len(df2_nighttrip), replace = False)
df2_daytrip2l = sorted(df2_daytrip2)
df2_nighttripl = sorted(df2_nighttrip)
scipy.stats.pearsonr(df2_daytrip2l, df2_nighttripl)

(0.98014602937149997, 0.0)

####  the null hypothesis of Pearson's test is that two sets of data are uncorrelated
####  Since the p values are zero, we can reject the null hypothesis 
###  both sample's Pearson’s correlation coefficient > 0.97, meaning the two distribution is highly correlated.
#### So here is the conclusion : the distribution of trip duration of bikers that ride during the day vs night riders are highly correlated, for both months

# 2.3 Spearman's test for correlation
## H0: the distribution of trip duration of bikers that ride during the day vs night riders are uncorrelated
![s](https://render.githubusercontent.com/render/math?math=%5Calpha%20%3D%200.05&mode=display)

In [45]:
scipy.stats.spearmanr(df1_daytrip2l, df1_nighttripl)

SpearmanrResult(correlation=0.99999899306764484, pvalue=0.0)

In [46]:
scipy.stats.spearmanr(df2_daytrip2l, df2_nighttripl)

SpearmanrResult(correlation=0.99999948037218489, pvalue=0.0)

####  the null hypothesis of Pearson's test is that two sets of data are uncorrelated
####  Since the p values are zero, we can reject the null hypothesis 
###  both sample's Spearman’s correlation coefficient > 0.9999, meaning the two distribution is highly correlated.
#### So here is the conclusion : the distribution of trip duration of bikers that ride during the day vs night riders are highly correlated, for both months

# 2.4 Conclusion:
##   The results of KS test, Pearson's test, Spearman's test all prove that the distribution of trip duration of bikers that ride during the day vs night riders are highly correlatedare, but not from the same distribution.

# 3.  Question3:
###  Is there statistical difference in the age distribution of bikers for trips originating in Manhattan and in Brooklyn?

In [104]:
## the location data is filtered by ArcGis, using the longitude and latitude data of citi bike
## the data is incomplete. I will update the data afterwards

bk_st_lon = np.array([-73.97703874, -73.96024116, -73.947915  , -73.97632328,
       -73.95643107, -73.99331394, -73.98775226, -73.95982218,
       -73.96986848, -73.98068914, -73.98362464, -73.96023854,
       -73.940636  , -73.93756926, -73.95299117, -73.98352355,
       -73.98258555, -73.97493121, -73.97854971, -73.97846879,
       -73.95381995, -74.0094613 , -73.9737299 , -73.96408963,
       -73.9647628 , -74.00242364, -73.99599099, -73.96563307,
       -73.960876  , -73.9437303 , -74.0016256 , -73.94644578,
       -73.934903  , -73.95212324, -73.95484712, -74.01275056,
       -73.94142771, -73.9298911 , -73.93705428, -73.950916  ,
       -73.99548059, -73.979927  , -73.98912867, -74.00860912,
       -74.00324957, -73.98432695, -73.98901629, -74.01630342,
       -73.94818595, -73.99712   , -73.95238108, -73.97100056,
       -74.01651   , -73.95796783, -74.01658773, -73.96024116,
       -73.95299117, -73.94644578, -73.95484712, -73.9437303 ,
       -73.98362464, -73.940636  , -73.99599099, -73.96563307,
       -73.98352355, -73.99331394, -73.97493121, -73.99712   ,
       -73.97632328, -73.98912867, -73.93756926, -73.95381995,
       -73.98432695, -73.96023854, -73.97854971, -73.95643107,
       -73.9647628 , -73.960876  , -73.98901629, -73.9298911 ,
       -73.95212324, -73.93705428, -73.94142771, -74.01275056,
       -74.00324957, -73.97846879, -73.94818595, -73.98258555,
       -74.00860912, -74.0016256 , -73.99548059, -74.00242364,
       -73.96986848, -73.97703874, -73.98068914, -73.950916  ,
       -73.9737299 , -73.95238108, -73.947915  , -73.934903  ,
       -73.979927  , -73.96408963, -73.98775226, -74.0094613 ,
       -73.95796783, -73.97100056, -74.00835872, -73.99490476])

In [61]:
mh_st_lon  = np.array([-73.986923  , -73.9916    , -73.99404649, -73.97574813,
       -73.98014437, -73.98142006, -73.950503  , -73.94782145,
       -73.97668709, -73.98888588, -73.97948148, -73.98776323,
       -73.99098507, -73.98470567, -73.99400398, -73.98562431,
       -74.01713445, -74.01658354, -74.00277668, -74.015756  ,
       -73.9622207 , -73.97793172, -73.94370784, -73.9970468 ,
       -73.94945003, -73.98362492, -73.97628939, -73.99692446,
       -73.96434123, -73.99147535, -74.00670227, -73.9919254 ,
       -73.97422494, -73.93956237, -74.013012  , -73.99193043,
       -73.996764  , -73.97374737, -73.976655  , -73.98383796,
       -74.00670227, -73.98142006, -73.99098507, -73.99147535,
       -74.01713445, -73.986923  , -73.9970468 , -73.9916    ,
       -74.01658354, -73.98014437, -73.99400398, -73.9622207 ,
       -73.97574813, -74.015756  , -74.00277668, -73.9919254 ,
       -73.97793172, -73.97422494, -73.99193043, -73.99404649,
       -73.97668709, -73.98562431, -73.96434123, -73.98888588,
       -73.98470567, -73.94782145, -74.013012  , -73.93956237,
       -73.950503  , -73.94370784, -73.97948148, -74.01486576,
       -73.98362492, -73.97374737, -73.94945003, -73.97628939,
       -74.016966  , -73.9747502 , -74.00264   , -73.98383796, -73.98776323])

In [87]:
df1['age'] = 2017 - df1['Birth Year']

df1_ageBK = df1['age'][df1['Start Station Longitude'].isin(bk_st_lon)].dropna()
df1_ageMH = df1['age'][df1['Start Station Longitude'].isin(mh_st_lon)].dropna()

In [93]:
df2['age'] = 2017 - df2['Birth Year']

df2_ageBK = df2['age'][df2['Start Station Longitude'].isin(bk_st_lon)].dropna()
df2_ageMH = df2['age'][df2['Start Station Longitude'].isin(mh_st_lon)].dropna()

In [90]:
len(df1_ageBK)

19060

In [91]:
len(df1_ageMH)

39282

In [92]:
len(df2_ageBK)

46832

In [94]:
len(df2_ageMH)

83188

# 3.1 KS tests to compare 
## H0: the age distribution of bikers for trips originating in Manhattan and in Brooklyn are from the same continuous distribution
![s](https://render.githubusercontent.com/render/math?math=%5Calpha%20%3D%200.05&mode=display)

In [95]:
scipy.stats.ks_2samp(df1_ageBK, df1_ageMH)

Ks_2sampResult(statistic=0.15263310633638771, pvalue=1.1509553205838753e-260)

In [96]:
scipy.stats.ks_2samp(df2_ageBK, df2_ageMH)

Ks_2sampResult(statistic=0.13831012881956395, pvalue=0.0)

#### the null hypothesis of ks test is that 2 independent samples are drawn from the same continuous distribution.
#### p < 0.05 means the null hypothesis is rejected and the samples are from different distribution
#### So here is the conclusion : the age distribution of bikers for trips originating in Manhattan and in Brooklyn are not from the same distribution, for both months

# 3.2 Pearson's test for correlation
## H0: the age distribution of bikers for trips originating in Manhattan and in Brooklyn are uncorrelated
![s](https://render.githubusercontent.com/render/math?math=%5Calpha%20%3D%200.05&mode=display)

In [97]:
# reduce the size of male sample to the female's size, making them the same size.
df1_ageMH2 = np.random.choice(df1_ageMH, len(df1_ageBK), replace = False)
print(len(df1_ageMH2), len(df1_ageBK))

19060 19060

In [98]:
# sort the data before making correlation analysis
df1_ageMH2l = sorted(df1_ageMH2)
df1_ageBKl = sorted(df1_ageBK)

In [100]:
scipy.stats.pearsonr(df1_ageMH2l, df1_ageBKl)

(0.98549768408272942, 0.0)

In [101]:
df2_ageMH2 = np.random.choice(df2_ageMH, len(df2_ageBK), replace = False)
df2_ageMH2l = sorted(df2_ageMH2)
df2_ageBKl = sorted(df2_ageBK)
scipy.stats.pearsonr(df2_ageMH2l, df2_ageBKl)

(0.98883192319555846, 0.0)

####  the null hypothesis of Pearson's test is that two sets of data are uncorrelated
####  Since the p values are zero, we can reject the null hypothesis 
###  both sample's Pearson’s correlation coefficient > 0.98, meaning the two distribution is highly correlated.
#### So here is the conclusion : the age distribution of bikers for trips originating in Manhattan and in Brooklyn are highly correlated, for both months

# 3.3 Spearman's test for correlation
## H0: the age distribution of bikers for trips originating in Manhattan and in Brooklyn are uncorrelated
![s](https://render.githubusercontent.com/render/math?math=%5Calpha%20%3D%200.05&mode=display)

In [102]:
scipy.stats.spearmanr(df1_ageMH2l, df1_ageBKl)

SpearmanrResult(correlation=0.99899916293086621, pvalue=0.0)

In [103]:
scipy.stats.spearmanr(df2_ageMH2l, df2_ageBKl)

SpearmanrResult(correlation=0.99880539526060841, pvalue=0.0)

####  the null hypothesis of Pearson's test is that two sets of data are uncorrelated
####  Since the p values are zero, we can reject the null hypothesis 
###  both sample's Spearman’s correlation coefficient > 0.99, meaning the two distribution is highly correlated.
#### So here is the conclusion : the age distribution of bikers for trips originating in Manhattan and in Brooklyn  are highly correlated, for both months

# 3.4 Conclusion:
##   The results of KS test, Pearson's test, Spearman's test all prove that the age distribution of bikers for trips originating in Manhattan and in Brooklyn  are highly correlated, but not from the same distribution.